In [1]:
a=5
b=2
c="one"
d='two'
f='c'
print(a)
print(c)
print(d)
print(type(a))
print(type(c))
print(type(d))
print(type(f))

5
one
two
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
print(a+b)
print(c+d)
print(a,c)

7
onetwo
5 one

In [3]:
print("this is ",c,'\nthis is',d,"\n\tand 2+3 is ",a,end=',') #multi print

x,y,z,xx = 5,6,"T","Asrafi"

print("\nx is: %f and y is: %f " %(x,y))
print("x is: %lf and y is: %lf " %(x,y))
print("x is: %d and y is: %d " %(x,y))
print("x is: %c and y is: %s " %(z,xx))

print(f"{x} and {xx}")

this is  one
this is two
	and 2+3 is  5,
x is: 5.000000 and y is: 6.000000
x is: 5.000000 and y is: 6.000000
x is: 5 and y is: 6
x is: T and y is: Asrafi
5 and Asrafi

In [4]:
print("My name is \"Tonmoy\". ")
print('My name is \'Tonmoy\'. ')

My name is "Tonmoy".
My name is 'Tonmoy'.

In [5]:
'''
Numerical
Operations

'''

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) #floor
print(a**b) #exponentiation

7
3
10
2.5
1
2
25

In [6]:
'''
string input 
'''
print("Enter your name: ")
name=input()
print("Name is: "+name)

age=input("Enter your age: ")
cgpa=input("Enter your CGPA: ")
print("Age: "+age,"\tCGPA: ",cgpa)

Enter your name:
Tonmoy
Name is: Tonmoy
Enter your age: 25
Enter your CGPA: 3
Age: 25 	CGPA:  3

In [7]:
'''
numerical  input
'''
num1 = int(input("num1: "))
num2 = int(input("Num2: "))
str = input("enter any: ")

print(num1,num2)
print(num1+num2)

print(num1,str)
 # print(num1+str) --> int+str

num1: 5
Num2: 2
enter any: Asrafi
5 2
7
5 Asrafi

In [8]:
'''Math lib function  '''
from math import *

print(max(5,2))
print(min(5,2))
print(abs(-5))
print(pow(5,3))
print(sqrt(36))
print(round(5/2))
print(floor(5/2))
print(ceil(5/2))

5
2
5
125.0
6.0
2
2
3

In [9]:
'''Relational Operator & Boolean Data Type'''
print("hello"=="hello")

True

In [10]:
name="tonmoy"

if name=="tonmoy":
    print("ok")
    print("ok 2")
print("pass")

ok
ok 2
pass

In [11]:
'''if,elif,else,inner if'''
var=80

if var>=60:
    if var>=80:
        print("a+")
    elif var>=70:        
        print("a")
    else:
        print("a-")
elif var<40:
    print("fail")
else:
    print("Ok")

a+

In [12]:
var1,var2 = 20,26

if var1>var2:
    print(var1)
else:
    print(var2)

    '''ternary operator'''
print(var1 if var1>var2 else var2)  

var3=var1 if var1>var2 else var2
print(var3)

print(max(var1,var2))

26
26
26
26

In [13]:
'''Logical operator and, or,not'''

'Logical operator and, or,not'

In [14]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']
print(days[0])

Monday