In [1]:
i = 1
while i<=10:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10

In [2]:
data = [11,12,"Asrafi",65,'c',43]
print(type(data))
print(data[1])
print(data[-1])

<class 'list'>
12
43

In [3]:
i=0
while i<4:
    print(data[i])
    i+=1

11
12
Asrafi
65

In [4]:
for i in data:
    print(i,end=' ')
    if i==65:
        break

11 12 Asrafi 65

In [5]:
for i in "data":
    print(i)

d
a
t
a

In [6]:
def function_name():
    x,y=5,6
    print(x+y)
    
function_name()
function_name()

11
11

In [7]:
def function_name(a,b=1):
    print(a+b)
    
function_name(5,10)
function_name(6,8)
function_name(10)

15
14
11

In [8]:
num=2

def local():
    global num
    num=num+3
    print(num)
    
local()
#not good

5

In [9]:
class Show:  
    def func(self,name,age):
        print(name," ",age)

var1 = Show()
var1.func("Asrafi",21)

Asrafi   21

In [10]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age     #constructor

ob1 = Person("Asrafi", 20)
ob2 = Person("Tonmoy", 25)

print(ob1.name," ",ob1.age)
print(ob2.name," ",ob2.age)

Asrafi   20
Tonmoy   25

In [11]:
lp = [11,12,"Asrafi",65,'c',43]

tp=(11,12,"Asrafi",65,'c',43)
print(type(tp))
print(tp[2])

<class 'tuple'>
Asrafi

In [12]:
lp[1]=5
print(lp[1])

5

In [13]:
tp[1]=5
print(tp[1])

TypeError: 'tuple' object does not support item assignment

In [14]:
list = [11,[12,"Asrafi"],[65,'c'],43] #Nested List
list2 = [11,[12,"Asrafi"],[65,[1,"rafi",'x'],'c'],43] #Nested List

print(list)
print(list[1])
print(list[2][1])
print(list2[2][1][2])

[11, [12, 'Asrafi'], [65, 'c'], 43]
[12, 'Asrafi']
c
x

In [15]:
l = [11,12,"Asrafi",65,'c',43]

l.append(50)
print(l)

[11, 12, 'Asrafi', 65, 'c', 43, 50]

In [16]:
l.insert(1,18)
print(l)

[11, 18, 12, 'Asrafi', 65, 'c', 43, 50]

In [18]:
l.extend([1,5,3])
print(l)
print(l.count(5))

[11, 18, 12, 'Asrafi', 65, 'c', 43, 50, 1, 5, 3, 1, 5, 3]
2

In [19]:
l.remove(5)
print(l)

[11, 18, 12, 'Asrafi', 65, 'c', 43, 50, 1, 3, 1, 5, 3]

In [20]:
l.pop()
print(l)

[11, 18, 12, 'Asrafi', 65, 'c', 43, 50, 1, 3, 1, 5]

In [21]:
l.remove(l[2])
print(l)

[11, 18, 'Asrafi', 65, 'c', 43, 50, 1, 3, 1, 5]

In [22]:
l = [11,12,65,43]

l.sort()
print(l)

print(l.index(43))

[11, 12, 43, 65]
2